body{
    background-color: ghostwhite;
}

.panel-footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.panel, .list-group, .form-group{
    padding:0;
    margin-top: 15px;
}
.alert-danger{
    float: none;
    margin-top:10px;
}

.btn-danger:hover {
    background-color: #c12e2a !important;
}