<% include Base_elements/Header %>
<body>
<div class="container">
<h1><%= title %></h1>
<ul class="nav nav-tabs">
    <% for (var i =0; i < tab.length;i++){%>
    <li role="presentation"><a href=<%=tab[i].link%>><%=tab[i].text %></a></li>
    <%}%>
</ul>
<form action="/create_account" method="post">
    <div class="form-group">
        <label for="Task_description">Mail address</label>
        <input name="Mailaddress" type="text" class="form-control" id="Task_description" placeholder="Description">
    </div>
    <div class="form-group">
        <label for="Task_description">password</label>
        <input name="passwd" type="password" class="form-control" id="Task_description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-default">Create account</button>
</form>
<% include Base_elements/Footer %>